@charset "UTF-8";

/*
CORES:

VERDE: #49a09d
ROXO: #5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;

    background-color: rgba(255, 255, 255, 0.226);
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/img.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

.material-symbols-outlined {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #6ae2de;
    font-size: 1em;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.356);
    height: 100%;
    border-radius: 15px;
    padding: 5px;
    transform: translateY(-5px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #9A48D2;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
}

form > input[type=submit]:hover {
    background-color: #3A1484;
}

form > a.botao {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

form > a.botao:hover {
    text-decoration: underline;
}